.fakeLi{
    height: 80px;
    width: 450px;
    margin: 10px 0;
    padding: 4px 2px;
    background: #66f459a6;
    color: #2b3924;
    border: 2px solid rgba(0, 128, 0, 0.623);
    border-radius: 2px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

.fakeLi:hover{
    transition: transform ease 0.2s;
    transform: scale(1.05);
    cursor: pointer;
}

.avatar{
    height: inherit;
    border: 2px solid rgba(0, 128, 0, 0.945);
    border-radius:4px;
}

.name {
    width: 100%;
}